<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hospital</title>
  <link rel="shortcut icon" href="assets/public/img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
  <!-- <link rel="stylesheet" href="assets/public/css/coreui-icons.min.css">
  <link rel="stylesheet" href="assets/public/css/flag-icon.min.css">
  <link rel="stylesheet" href="assets/public/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/public/css/simple-line-icons.css">
  <link rel="stylesheet" href="assets/public/css/style.css">
  <link rel="stylesheet" href="assets/public/css/pace.min.css">
  <script src="assets/public/js/pace.min.js"></script>
  <script src="assets/public/js/popper.min.js"></script>
  <script src="assets/public/js/jquery.min.js"></script>
  <script src="assets/public/js/bootstrap.min.js"></script>
  <script src="assets/public/js/perfect-scrollbar.min.js"></script>
  <script src="assets/public/js/coreui.min.js"></script>
  <script src="assets/public/js/custom-tooltips.min.js"></script>
  <script src="assets/public/js/sweetalert2.all.min.js"></script> -->
  <!-- <link href="assets/public/css/plantilla.css" rel="stylesheet"> -->
</head>
<body class="app flex-row align-items-center">
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
          <form method="POST" action="">      
            <h1>Login</h1>
            <p class="text-muted">Ingrese su Cuenta</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-user"></i>
                </span>
              </div>
              <input type="text" class="form-control " name="email" value="" value="abasto@gmail.com" required autocomplete="email" autofocus placeholder="Username">
              <span class="invalid-feedback" role="alert">
                  <strong> </strong>
              </span>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input class="form-control" type="password" lass="form-control" value="12345678" name="password" required autocomplete="current-password" placeholder="Password">
                    <span class="invalid-feedback" role="alert">
                    <strong> </strong>
                </span>
            </div>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary px-4" type="submit"><i class="fa fa-user"></i> Login</button>
              </div>
              <div class="col-6 text-right">
                <button class="btn btn-link px-0" type="button">Olvide password?</button>
              </div>
            </div>
        </form>
          </div>
        </div>
        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Paurito</h2>
              <p>Sistema Elaborado para Compra y Venta de la Empresa PAURITO Creado Por Luis Rodrigo Abasto</p>
              <i class="flag-icon flag-icon-bo h1" id="bo" title="bo"></i>
              <!-- <button class="btn btn-primary active mt-3" type="button">VISITAR</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>    
</body>
</html>
