<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="divider"></li>
      <li class="nav-title">Principal</li>
      <li class="nav-item nav-dropdown" *ngFor="let menu of _sidebar.menu">
        <a class="nav-link nav-dropdown-toggle" aria-expanded="false">
          <i [class]="menu.icono"></i> {{ menu.titulo }}
          <span class="badge badge-primary">NEW</span></a>
        <ul class="nav-dropdown-items">
          <li class="nav-item" *ngFor="let submenu of menu.submenu">
            <a class="nav-link" routerLinkActive="active" [routerLink]="[submenu.url]">
              <i class="nav-icon icon-puzzle"></i> {{ submenu.titulo }}</a>
          </li>
        </ul>
      </li>
      <li class="nav-title">Theme</li>
      <li class="nav-item">
        <a class="nav-link" href="colors.html">
          <i class="nav-icon icon-drop"></i> Colors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="typography.html">
          <i class="nav-icon icon-pencil"></i> Typography</a>
      </li>
      <li class="nav-title">Components</li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-puzzle"></i> Base</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="base/breadcrumb.html">
              <i class="nav-icon icon-puzzle"></i> Breadcrumb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/cards.html">
              <i class="nav-icon icon-puzzle"></i> Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/carousel.html">
              <i class="nav-icon icon-puzzle"></i> Carousel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/collapse.html">
              <i class="nav-icon icon-puzzle"></i> Collapse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/forms.html">
              <i class="nav-icon icon-puzzle"></i> Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/jumbotron.html">
              <i class="nav-icon icon-puzzle"></i> Jumbotron</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="base/list-group.html">
              <i class="nav-icon icon-puzzle"></i> List group</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="nav-icon icon-cursor"></i> Buttons</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="buttons/buttons.html">
              <i class="nav-icon icon-cursor"></i> Buttons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/button-group.html">
              <i class="nav-icon icon-cursor"></i> Buttons Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/dropdowns.html">
              <i class="nav-icon icon-cursor"></i> Dropdowns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="buttons/brand-buttons.html">
              <i class="nav-icon icon-cursor"></i> Brand Buttons</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>