
    <main class="main">
      <!-- Breadcrumb -->
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
          <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol> -->
      <br>
      <div class="container-fluid">
        <!-- Ejemplo de tabla Listado -->
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Productos
            <button
              type="button"
              data-toggle="modal"
              data-target="#ModalLong"
              class="btn btn-secondary"
            >
              <i class="icon-plus"></i>&nbsp;Nuevo
            </button>
          
            <button type="button" class="btn btn-danger">
                <i class="fa fa-file-pdf-o"></i>&nbsp;PDF
            </button>
  
            <button type="button" class="btn btn-info">
                <i class="fa fa-print fa-lg"></i>
            </button>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <div class="col-md-10">
                     <div class="input-group">
                  <select class="form-control col-md-3">
                    <option value="nombre">Nombre</option>
                  </select>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Buscar Producto"
                  />
                  <span class="input-group-append">
                    <button
                      type="submit"
                      class="btn btn-primary"
                    >
                      <i class="fa fa-search"></i> Buscar
                    </button>
                  </span>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>N°</th>
  
                    <th>Nombre</th>
                    <th>Stock</th>
                    <th>Unidad</th>
                    <th>Total + Unidad</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span class="badge badge-success" ></span>
                    </td>
                    <td >Luis </td>
                    <td >Rodrigo</td>
                    <td>Abasto</td>
                    
                    <td>
                    Holaa
                    </td>
                    <td>
                      <div v-if="data.estado">
                        <span class="badge badge-success">Activo</span>
                      </div>
                      <div v-else>
                        <span class="badge badge-danger">Desactivado</span>
                      </div>
                    </td>
                
                  </tr>
                </tbody>
              </table>
            </div>
            <nav>
              <!-- justify-content-center -->
              <ul class="pagination">
                <li class="page-item">
                  <a
                    class="page-link"
                    href="#"
                  
                  >Ant</a>
                </li>
                <li
                  class="page-item" >
                  <a
                    class="page-link"
                    href="#"></a>
                </li>
                <li class="page-item">
                  <a
                    class="page-link"
                    href="#"
                  >Sig</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- Fin ejemplo de tabla Listado -->
      </div>
      <!--Inicio del modal agregar/actualizar-->
      <div
        class="modal fade bd-example-modal-lg"
        tabindex="-1"
        role="dialog"
        id="ModalLong"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-primary modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="'modal-body '+activarValidate">
              <form action method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Nombre</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      placeholder="Nombre del Producto............"
                      class="form-control"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Stock</label>
                  <div class="col-md-9">
                    <input
                      type="number"
                      min="0"
                      step="any"
                      class="form-control"
                      required
                      placeholder="Ingrese el Stock"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Ref/Stock</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      class="form-control"
                      required
                      placeholder="Ingrese la Referencia para el Stock...."
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Unidad</label>
                  <div class="col-md-9">
                    <input
                      type="number"
                      min="0"
                      step="any"
                      class="form-control"
                      required
                      placeholder="Ingrese La Cantidad...."
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="text-input">Ref/Unidad</label>
                  <div class="col-md-9">
                    <input
                      type="text"
                      class="form-control"
                      required
                      placeholder="Ingrese Su Referencia de la Unidad...."
                    />
                  </div>
                </div>
                
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >Cerrar</button>
              <button
                type="button"
                class="btn btn-primary"
              >Guardar</button>
              <button
                type="button"
                class="btn btn-primary"
              >Actualizar</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
  
        <!-- /.modal-dialog -->
      </div>
      <!--Fin del modal-->
    </main>
    
  <style>
  .modal-content {
    width: 100% !important;
    position: absolute !important;
  }
  .mostrar {
    display: list-item !important;
    opacity: 1 !important;
    position: absolute !important;
    background-color: #3c29297a !important;
  }
  .div-error {
    display: flex;
    justify-content: center;
  }
  .text-error {
    color: red !important;
    font-weight: bold;
  }
  </style>
  
  